.img-bg {
  background-image: url(https://i.imgur.com/iuaLq7p.jpg);

  min-height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.botao {
  padding: 1% 5%;

  background-color: var(--background-color-button);

  border: none;
  border-radius: 5px;

  color: var(--text-white);

  font-weight: 600;

  transition: background-color, color, .3s ease;

  font-family: 'Amaranth', sans-serif;

}

.botao:hover {
  background-color: var(--background-color-button-hover);

  color: var(--text-white-light);

}

label {
  font-weight: 600;
  font-family: 'Amaranth', sans-serif;

}

input, option, select {
  font-weight: 100;
  font-family: 'Amaranth', sans-serif;

  color: var(--text-input);

}

@media(max-width: 760px){
  .img-bg {
      display: none;

  }

  .container-fluid {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100vh;

  }

  .ajuste-760px, .row {
      padding: 0 !important;
      margin: 0 !important;

      height: 100vh;

  }

}
