<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 img-bg">

      </div>
      <div class="col-md-6 mt-5 mb-5 ajuste-760px">
          <div class="row d-flex justify-content-center">
              <div class="col-md-10">
                  <h1 class="text-center">Cadastro</h1>
                  <div class="form-group">
                      <label for="nome">Nome</label>
                      <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
                      <input [(ngModel)]='cadastro.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Nome">
                  </div>
                  <div class="form-group">
                      <label for="usuario">Usuário</label>
                      <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
                      <input [(ngModel)]='cadastro.username' class="form-control" type="text" name="usuario" id="usuario" placeholder="Usuário">
                  </div>
                  <div class="form-group">
                    <label for="idade">Idade</label>
                    <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
                    <input [(ngModel)]='cadastro.idade' class="form-control" type="number" name="idade" id="idade" placeholder="Idade">
                  </div>
                  <div class="form-group">
                    <label for="peso">Peso</label>
                    <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
                    <input [(ngModel)]='cadastro.peso' class="form-control" type="number" name="peso" id="peso" placeholder="Peso">
                  </div>
                  <div class="form-group">
                    <label for="altura">Altura</label>
                    <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
                    <input [(ngModel)]='cadastro.altura' class="form-control" type="number" name="altura" id="altura" placeholder="Altura">
                  </div>
                  <div class="form-group">
                      <label for="foto">Link da foto</label>
                      <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
                      <input [(ngModel)]='cadastro.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link de seu perfil">
                  </div>
                  <div class="form-group">
                      <label for="senha">Senha</label>
                      <!-- (input) ==> CHAMA UM METODO PARA CONFIRMAR A SENHA, QUE POR SUA VEZ RECEBEU UM VALOR DE confirmeSenha PARA QUE OS DOIS FVALORES POSSAM SER COMPARADOS E VALIDADOS -->
                      <input (input)='confirmeSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Senha">
                  </div>
                  <div class="form-group">
                      <label for="confirmeSenha">Confirmar Senha</label>
                      <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
                      <input [(ngModel)]='cadastro.senha' class="form-control" type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Confirme sua Senha">
                  </div>
                  <div class="d-flex justify-content-end my-3">
                      <button type="submit" class="botao mx-2" routerLink="/login">Cancelar</button>
                      <!-- (click) ==> CHAMA UM METODO PARA REALIZAR O CADASTRO DENTRO DA APLICACAO, VALIDANDO OS DADOS INSERIDOS -->
                      <button (mouseover)='botaoCadastrarAnimacaoOver()' (mouseout)='botaoCadastrarAnimacaoOut()' type="submit" class="botao" id="botaoCadastrar" (click)='cadastrar()'>Cadastrar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
