/*.tabela {
  display: flex;
  align-items: flex-start;
  justify-content: space-between flex-start;

  margin-left: 50%;

}

.tabela-produtos {
  display: flex;
  align-items: flex-start;
  justify-content: space-between flex-start;

  text-decoration: none;

}

.lista-usuario {
  overflow-y: scroll;

}

.img {
  width: 20%;
  height: auto;

  margin: 0% 2% 2% 2%;

}

.img img {
  width: 100%;
  height: auto;

  border-radius: 5px;

}

h5 {
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;

  color: var(--text-default);

}

h6 {
  font-family: 'Amaranth', sans-serif;
  font-weight: 500;

  color: var(--text-input);

}

a {
  text-decoration: none;

}

a small {
  font-weight: 500;

  color: var(--background-color-button) !important;

}

.nome-produto-listado {
  font-weight: 500;

  color: var(--background-color-button) !important;

}

.dados-usuario {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

}

.dados-usuario h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  font-size: 16px;

  color: var(--text-default);

}

.dados-usuario h2 strong {
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  font-size: 16px;

  color: var(--text-default);

}

.margem-imc {
  padding-left: 2%;

}

.margem-imc p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  font-size: 16px;

  color: var(--text-default);

}

.margem-imc p strong {
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  font-size: 16px;

  color: var(--text-default);

}

.botao {
  padding: 1% 3%;
  margin: 2% 0.5%;

  background-color: var(--background-color-button);

  border-radius: 5px;
  border: none;

  color: var(--text-white);

  transition: background-color, .3s ease-in-out;

}

.botao:hover {
  padding: 1% 3%;

  background-color: var(--background-color-button-hover);

  border-radius: 5px;
  border: none;

  color: var(--text-white);

}

.cancelar {
  padding: 1% 3%;
  margin: 2% 0.5%;

  background-color: var(--background-color-danger) !important;

  border-radius: 5px;
  border: none;

  color: var(--text-white);

  transition: background-color, .3s ease-in-out;

}

.cancelar:hover {
  padding: 1% 3%;

  background-color: var(--background-color-danger-hover) !important;

  border-radius: 5px;
  border: none;

  color: var(--text-white);

}

.texto-link {
  color: var(--text-link);

  text-decoration: none;

  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  font-size: 16px;

  transition: color, .3s ease-in-out;

}

.texto-link:hover {
  color: var(--background-color-button);

  text-decoration: none;

}

label {
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  font-size: 16px;

  color: var(--text-link);

}*/

/* ========================= */
/* === NOVA CONFIGURACAO === */
/* ========================= */
section {
  width: 100%;
  height: auto;

  padding: 2%;
  margin-top: 10%;

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;

  background-color: var(--background-page);

}

section .feed-noticias {
  width: 40%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: 0% 1%;

}

section .feed-noticias .feed {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario {
  width: 100%;
  height: auto;

  margin-top: 2.5%;
  margin-bottom: 2.5%;

  background-color: var(--background-section);

  border: 1px solid var(--border-gray);
  border-radius: 3px;

}

section .feed-noticias .feed .postagem-usuario .header {
  width: 100%;
  height: auto;

  padding: 0;
  margin: 0;

  border-top: 0px solid var(--border-gray) !important;
  border-left: 0px solid var(--border-gray) !important;
  border-right: 0px solid var(--border-gray) !important;
  border-bottom: 0px solid var(--border-gray-ligth) !important;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

section .feed-noticias .feed .postagem-usuario .header .img {
  width: 10%;
  height: auto;

  border-radius: 50%;

  margin-left: 1%;

}

section .feed-noticias .feed .postagem-usuario .header .img img {
  padding: 10%;

  width: 80%;
  height: auto;

  border-radius: 50%;

}

section .feed-noticias .feed .postagem-usuario .header p {
  margin: 0;

  font-weight: 600;
  font-size: 13px;

  color: var(--color-text-black);

}

section .feed-noticias .feed .postagem-usuario .img-postagem {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .img-postagem img {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem {
  width: 100%;
  height: auto;

  padding: 1%;
  margin-top: 1%;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem .icon {
  width: 4.5%;
  height: auto;

  margin: 0% 2%;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem .icon svg {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem .qt-curtidas-postagem {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem .qt-curtidas-postagem p {
  width: 100%;
  height: auto;

  margin: 0;

  font-weight: 600;
  font-size: 13px;

  color: var(--color-text-black);

}

section .feed-noticias .feed .postagem-usuario .comentarios-postagem-usuario {
  width: 100%;
  height: auto;

  padding: 0% 2%;
  margin-bottom: 1%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

section .feed-noticias .feed .postagem-usuario .comentarios-postagem-usuario h5 {
  font-weight: 600;
  font-size: 14px;

  margin-right: 1% !important;
  margin: 0;

}

section .feed-noticias .feed .postagem-usuario .comentarios-postagem-usuario p {
  font-weight: 400;
  font-size: 14px;

  margin: 0;

}

section .feed-noticias .feed .postagem-usuario .mensagens-postagem {
  width: 100%;
  height: auto;

  padding: 0% 2%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

section .feed-noticias .feed .postagem-usuario .mensagens-postagem h5 {
  font-weight: 600;
  font-size: 14px;

  margin-right: 1% !important;
  margin: 0;

}

section .feed-noticias .feed .postagem-usuario .mensagens-postagem p {
  font-weight: 400;
  font-size: 14px;

  margin: 0;

}

section .feed-noticias .feed .postagem-usuario .footer {
  margin-top: 2%;
  padding: 2% 0%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid var(--border-gray-ligth);

}

section .feed-noticias .feed .postagem-usuario .footer .icon {
  width: 5%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .footer .icon svg {
  padding: 5%;

  width: 80%;
  height: auto;

  color: var(--color-text-black);

}

section .feed-noticias .feed .postagem-usuario .footer .postagem {
  width: 80%;
  height: auto;

  padding-left: 1%;

}

section .feed-noticias .feed .postagem-usuario .footer .postagem input {
  width: 100%;
  height: auto;

  outline: none;

  border: none;

  color: var(--color-text-black);

}

section .feed-noticias .feed .postagem-usuario .footer button {
  border: none;

  background-color: transparent;

  color: var(--color-text-blue-text-link-2);

  font-size: 16px;
  font-weight: 600;

}

section .bloco-sugestoes-perfis {
  width: 25%;
  height: auto;

  margin-left: -2%;

}

section .bloco-sugestoes-perfis .sugestoes-perfil {
  width: 23%;
  height: 70vh;

  margin: 0% 1%;

  position: fixed;

  overflow-y: scroll;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  margin-top: 5%;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios h5 {
  width: 100%;
  height: auto;

  font-weight: 600;
  font-size: 14px;

  margin: 0;
  margin-bottom: 1% !important;

  color: var(--color-text-gray);

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil {
  width: 100%;
  height: auto;

  margin-top: 1%;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil {
  width: 80%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .dados-usuario {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  height: auto;

  padding: 2%;
  margin-left: 5%;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .dados-usuario a {
  font-weight: 600;
  font-size: 14px;

  margin-right: 1% !important;
  margin: 0;

  color: var(--color-text-black);

  text-decoration: none !important;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .dados-usuario p {
  font-weight: 400;
  font-size: 12px;

  margin: 0;

  color: var(--color-text-gray);

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .img {
  width: 10%;
  height: auto;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .img img {
  width: 100%;
  height: auto;

  border-radius: 50%;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil button {
  border: none;

  background-color: transparent;

  color: var(--color-text-blue-text-link-2);

  font-size: 12px;
  font-weight: 600;

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-section);

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .img {
  width: 60%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .img img {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .dados-postagem {
  width: 40%;
  height: 600px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem {
  width: 100%;
  height: auto;

  padding: 5%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-bottom: 1px solid var(--border-gray);

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem .img {
  width: 12%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem .img img {
  width: 100%;
  height: auto;

  border-radius: 50%;

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem h5 {
  font-size: 13px;
  font-weight: 500;

  margin: 0 !important;

  color: var(--color-text-black);

  margin-left: 6% !important;

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .dados-postagem .mensagens-postagem {
  width: 100%;
  height: auto;

  padding: 2% 0%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .dados-postagem .mensagens-postagem h5 {
  font-size: 14px;
  font-weight: 600;

  margin: 0 !important;

  color: var(--color-text-black);

  margin-left: 2% !important;

}

section .feed-noticias .feed .postagem-usuario .modal .modal-dialog .vizualizar-postagem .dados-postagem .mensagens-postagem p {
  font-size: 15px;
  font-weight: 400;

  margin: 0 !important;

  color: var(--color-text-black);

  margin-left: 2% !important;

}
